.row-letter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-letter {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left-letter {
  width: 10%;
  

}
.wishes {
  resize: none;
  background-color: black;
  font-family: "SFProDisplay Regular";
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  margin: 20px 0;
}
.right-letter {
  font-size: 1.5rem;
  width: 70%;
  text-align: left;
}

.right-letter p {
  margin: 0;
}

.left-side-text {
  font-size: 2.5rem;
  margin: 0;
  text-align: left;
}

.submit-wishes {
  text-align: right;
  cursor: pointer;
}

/* Clear floats after the columns */
.row-letter:after {
  content: "";
  display: table;
  clear: both;
}

.background2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "SFProDisplay Regular";
}

.bgContainerText5 {
  position: absolute;
  /* background-color: aqua; */
  padding-top: 0%;
  max-width: 1600px;
  width: 100%;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInAnimation4 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation4 {
  from {
    transform: translate(-50%, -45%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.bgWrapper2 {
  padding-left: 5%;
  padding-right: 5%;
  top: 0;
  position: absolute;
}

.textContainer2 {
  /* background-color: aqua; */
  padding-right: 10%;
}

.subtext2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 10%;
  width: 100%;
  /* background-color: #E5E5E5; */
}

.subtitle2 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "SFProDisplay Regular";
}

.title2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  font-family: "SFProDisplay Regular";
}

.middleText {
  position: relative;
}

.dudukImg {
  position: absolute;
  transform: translate(575%, 21%);
}

.pelukImg {
  position: absolute;
  transform: translate(-1230%, 140%);
}

.textBoxdeco {
  display: block;
  font-size: 12px;
  background-color: #e5e5e5;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 6px;
  margin-left: 2px;
  float: left;
}

.iconRight2 {
  float: right;
}
.textBoxdeco2 {
  display: block;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
}

.arrow2 {
  transform: rotate(90deg);
  animation: arrowBlink 2s infinite;
  margin-top: 11%;
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

.topNavStyle {
  text-align: center;
  position: fixed;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  bottom: 0;
}
