.background2 {
  background-color: black;
  color: white;
  z-index: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "SFProDisplay Regular";
}
.background23 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "SFProDisplay Regular";
}
.bgContainerText3 {
  position: absolute;
  /* background-color: aqua; */
  max-width: 1450px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  color: white;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInAnimationReg ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bgContainerText2 {
  position: absolute;
  /* background-color: aqua; */
  padding-top: 5%;
  max-width: 1600px;
  width: 100%;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  from {
    transform: translate(-50%, -40%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes fadeInAnimationReg {
  from {
    transform: translate(-50%, -45%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.titleTrans {
  text-align: left;
  font-weight: 10;
  font-size: 20px;
}

.bgWrapper2 {
  padding-left: 5%;
  padding-right: 5%;
  top: 0;
  position: absolute;
  max-width: 1366px;
}

.subtext2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 10%;
  width: 100%;
  /* background-color: #E5E5E5; */
}

.subtitle2 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "SFProDisplay Regular";
}

.title2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  font-family: "SFProDisplay Regular";
}

.title3 {
  font-size: 61px;
  font-weight: 300;
  line-height: 65px;
  font-family: "SFProDisplay Regular";
}

.middleText {
  position: relative;
}

.dudukImg {
  position: absolute;
  transform: translate(575%, 21%);
}

.pelukImg {
  position: absolute;
  transform: translate(-1230%, 140%);
}

.textBoxdeco {
  display: block;
  font-size: 12px;
  background-color: #e5e5e5;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 6px;
  margin-left: 2px;
  float: left;
}

.iconRight3 {
  cursor: pointer;
  float: left;
  margin-left: 5%;
}
.textBoxdeco2 {
  display: block;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
}

.arrow2 {
  transform: rotate(90deg);
  animation: arrowBlink 2s infinite;
  margin-top: 11%;
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

.topNavStyle {
  text-align: center;
  position: fixed;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  bottom: 0;
}
