.background {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #2f3a56;
}

.card42 {
   position: absolute;
  z-index: 1;
  width: 400px;
  height: 300px;
  background-image: url("../.././assets/images/iconMascot1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeLeftAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.card43 {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 370px;
  background-image: url("../.././assets/images/iconMascot3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  margin-bottom: 70px;
  animation: fadeInIconAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
.card44 {
  position: absolute;
  z-index: 3;
  width: 250px;
  height: 530px;
  background-image: url("../.././assets/images/iconMascot2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  margin-bottom: 80px;
  margin-right: 7px;
  animation: fadeInIconAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bgContainerText {
  position: absolute;
  /* background-color: aqua; */
  padding-top: 5%;
  max-width: 1800px;
  width: 100%;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInTextAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-top: 3%;
}

.title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 500;
}

.textFooter {
  padding-top: 10%;
}

.footerText {
  font-size: 20px;
  margin-left: 3px;
}

.footerImages {
  vertical-align: middle;
  margin-bottom: 0.7em;
}


.bgContainer{
  position: absolute;
  /* background-color: yellow; */
  max-width: 1800px;
  width: 100%;
  height: 100%;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

@keyframes fadeLeftAnimation {
  from {
    transform: translate(-15%, 0);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInIconAnimation {
  from {
    transform: translate(0, 15%);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInTextAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}