.draft7Container {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}

.draft7BackImage {
  position: absolute;
  background-image: url(../../../assets/images/mainPage/draft7.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 1080px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infotext {
  position: absolute;
  opacity: 0;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  top: 0px;
  left: 75px;
  transition: opacity 0.1s ease-in;
  z-index: 2;
}

.pos7a {
  position: absolute;
  left: 510px;
  top: 206px;
}

.pos7b {
  position: absolute;
  left: 1560px;
  top: 479px;
}

.pos7c {
  position: absolute;
  left: 999px;
  top: 500px;
}

.pos7d {
  position: absolute;
  left: 934px;
  top: 853px;
}

.pos7b:hover {
  transform: scale(1.5);
}
.pos7a:hover {
  transform: scale(1.5);
}
.pos7c:hover {
  transform: scale(1.5);
}
.pos7d:hover {
  transform: scale(1.5);
}

.pos7a:hover + .infotext {
  opacity: 1;
}

.pos7b:hover + .infotext {
  opacity: 1;
}
.pos7c:hover + .infotext {
  opacity: 1;
}

.pos7d:hover + .infotext {
  opacity: 1;
}
.infoStyle:hover {
  transform: scale(1.5);
}

.footer {
  position: absolute;
  width: 1860px;
  bottom: 0;
  margin-bottom: 50px;
  padding: 0 30px;
}
.footerLeft {
  float: left;
}

.footerRight {
  float: Right;
}
.iconFloat {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}
.infotext2 {
  position: absolute;
  opacity: 0;
  width: 500px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 5px 15px;
  top: -170px;
  left: 80px;
  transition: opacity 0.1s ease-in;
  z-index: 2;
  text-align: left;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.icoStyle {
  float: left;
  width: 20px;
  margin-left: 10px;
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.infoStyle:hover {
  transform: scale(1.5);
}

.infoStyle:hover + .infotext2 {
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .draft7BackImage {
    width: 1366px;
    height: 700px;
  }

  .pos7a {
    position: absolute;
    width: 15px;
    left: 340px;
    top: 138px;
  }
  
  .pos7b {
    position: absolute;
    width: 15px;
    left: 1080px;
    top: 279px;
  }
  
  .pos7c {
    position: absolute;
    width: 15px;
    left: 699px;
    top: 340px;
  }
  
  .pos7d {
    width: 15px;
    position: absolute;
    left: 634px;
    top: 558px;
  }

  .footer {
    position: absolute;
    width: 1306px;
    bottom: 0;
    margin-bottom: 30px;
    padding: 0 30px;
  }
}
