.topBar4Main {
  background-color: #f7f2ec;
  width: 100%;
  position: sticky;
  height: 50px;
}

.topBar4WrapperMain {
  width: 1186px;
  position: absolute;
}

.topBar4LeftWrapperMain {
  float: left;
}

.topBar4Left2WrapperMain {
  position: relative;
}

.topBar4LeftTextWrapperMain {
  position: absolute;
  top: 50%;
  transform: translate(50px, -50%);
}

.topBar4RightTextWrapperMain {
  position: absolute;
  top: 50%;
  transform: translate(-20px, -50%);
}

.topBar4LeftMain {
  float: left;
  margin-left: 2%;
}

.topBar4RightMain {
  float: right;
  margin-right: 4%;
}

.draft4Container {
  background-color: white;
  z-index: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.draft4BackImage {
  position: absolute;
  background-image: url(https://res.cloudinary.com/afairui/image/upload/v1642599228/draft6_cvs285.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1186px;
  height: 668px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exitButton {
  cursor: pointer;
}

.infotext {
  font-family: "SFProDisplay Regular";
}

.infotext4 {
  position: absolute;
  display: none;
  opacity: 0;
  width: 350px;
  height: fit-content;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  text-align: left;
  transition: opacity 0.1s ease-in;
  transform: translate(10000000000000px, -1000000000px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.infoTitleDraft4 {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.infoContentDraft44 {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.pos4 {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0;
}

.pos5 {
  position: absolute;
  width: 22%;
  left: 452px;
  top: 100px;
}

.pos6 {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
}

.pos7 {
  position: absolute;
  width: 25%;
  left: 1286px;
  top: 445px;
}

.pos8 {
  position: absolute;
  width: 30%;
  bottom: 0px;
  left: 35%;
}
.content {
  position: relative;
}

.pos4:hover {
  filter: drop-shadow(0px 4px 4px rgba(254, 114, 53, 0.69));
}
.pos5:hover {
  filter: drop-shadow(0px 4px 4px rgba(254, 114, 53, 0.69));
}
.pos6:hover {
  filter: drop-shadow(0px 4px 4px rgba(254, 114, 53, 0.69));
}
.pos7:hover {
  filter: drop-shadow(0px 4px 4px rgba(254, 114, 53, 0.69));
}
.pos8:hover {
  filter: drop-shadow(0px 4px 4px rgba(254, 114, 53, 0.69));
}

.pos4:hover + .infotext {
  opacity: 1;
  display: block;
  transform: translate(-50%, -150%);
}

.pos5:hover + .infotext {
  opacity: 1;
  display: block;
  transform: translate(-50%, -150%);
}

.pos6:hover + .infotext {
  opacity: 1;
  display: block;
  transform: translate(-50%, -150%);
}

.pos7:hover + .infotext {
  opacity: 1;
  display: block;
  transform: translate(-50%, -150%);
}

.pos8:hover + .infotext {
  opacity: 1;
  display: block;
  transform: translate(-50%, -150%);
}
.content {
  position: absolute;
}
.footer4 {
  position: absolute;
  width: 1146px;
  bottom: 0;
  margin-bottom: 20px;
  padding: 0 20px;
}
.footerLeft4 {
  float: left;
}

.footerRight4 {
  float: Right;
}
.iconFloat4 {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}
.exitButton4 {
  cursor: pointer;
}
.infotext24 {
  position: absolute;
  display: none;
  width: 500px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 5px 15px;
  top: -1170px;
  left: 1180px;
  transition: opacity 0.1s ease-in;
  z-index: 2;
  text-align: left;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.icoStyle4 {
  float: left;
  width: 20px;
  margin-left: 10px;
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.infoStyle4:hover {
  transform: scale(1.5);
}

.infoStyle4:hover + .infotext24 {
  opacity: 1;
  top: -170px;
  left: 80px;
  display: block;
}

/* @media only screen and (max-width: 1600px) {
  .draft4BackImage {
    width: 1366px;
    height: 700px;
  }
  .topBarWrapperMain {
    width: 1300px;
  }

  .pos4 {
    position: absolute;
    width: 15px;
    left: 914px;
    top: 112px;
  }

  .pos5 {
    position: absolute;
    width: 15px;
    left: 542px;
    top: 281px;
  }

  .pos6 {
    position: absolute;
    width: 15px;
    left: 199px;
    top: 423px;
  }
  .pos7 {
    position: absolute;
    width: 15px;
    left: 1286px;
    top: 445px;
  }

  .pos8 {
    position: absolute;
    width: 15px;
    left: 706px;
    top: 609px;
  }
  .footer {
    position: absolute;
    width: 1306px;
    bottom: 0;
    margin-bottom: 30px;
    padding: 0 30px;
  }
} */
