.draft4Container {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}

.draft4BackImage {
  position: absolute;
  background-image: url(../../../assets/images/mainPage/draft4.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 1080px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infotext4 {
  position: absolute;
  opacity: 0;
  width: 350px;
  height: 80px;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  text-align: left;
  transition: opacity 0.1s ease-in;
  transform: translate(-50%, -150%);
}

.infoTitle {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.infoContent {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.pos4 {
  position: absolute;
  left: 1274px;
  top: 172px;
}

.content {
  position: relative;
}
.pos5 {
  position: absolute;
  left: 772px;
  top: 391px;
}

.pos6 {
  position: absolute;
  left: 279px;
  top: 663px;
}
.pos7 {
  position: absolute;
  left: 1796px;
  top: 635px;
}

.pos8 {
  position: absolute;
  left: 796px;
  top: 879px;
}

.pos4:hover {
  transform: scale(1.5);
}

.pos6:hover {
  transform: scale(1.5);
}
.pos7:hover {
  transform: scale(1.5);
}
.pos8:hover {
  transform: scale(1.5);
}
.pos5:hover {
  transform: scale(1.5);
}

.pos4:hover + .infotext {
  opacity: 1;
}

.pos5:hover + .infotext {
  opacity: 1;
}

.pos6:hover + .infotext {
  opacity: 1;
}

.pos7:hover + .infotext {
  opacity: 1;
}

.pos8:hover + .infotext {
  opacity: 1;
}
.content {
  position: absolute;
}
.footer {
  position: absolute;
  width: 1860px;
  bottom: 0;
  margin-bottom: 50px;
  padding: 0 30px;
}
.footerLeft {
  float: left;
}

.footerRight {
  float: Right;
}
.iconFloat {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}
.exitButton {
  cursor: pointer;
}
.infotext2 {
  position: absolute;
  opacity: 0;
  width: 500px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 5px 15px;
  top: -170px;
  left: 80px;
  transition: opacity 0.1s ease-in;
  z-index: 2;
  text-align: left;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.icoStyle {
  float: left;
  width: 20px;
  margin-left: 10px;
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.infoStyle:hover {
  transform: scale(1.5);
}

.infoStyle:hover + .infotext2 {
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .draft4BackImage {
    width: 1366px;
    height: 700px;
  }
  .pos4 {
    position: absolute;
    width: 15px;
    left: 914px;
    top: 112px;
  }

  .pos5 {
    position: absolute;
    width: 15px;
    left: 542px;
    top: 281px;
  }

  .pos6 {
    position: absolute;
    width: 15px;
    left: 199px;
    top: 463px;
  }
  .pos7 {
    position: absolute;
    width: 15px;
    left: 1286px;
    top: 445px;
  }

  .pos8 {
    position: absolute;
    width: 15px;
    left: 566px;
    top: 629px;
  }
  .footer {
    position: absolute;
    width: 1306px;
    bottom: 0;
    margin-bottom: 30px;
    padding: 0 30px;
  }
}
