.container {
  margin: 1rem 1rem;
  color: black;
  position: relative;
  font-family: "SFProDisplay Regular";
}

option {
  background-color: white;
  border-radius: 0px;
  padding-top: 5px;
}
.indexWrapper {
  position: absolute;
  width: 100%;
  max-width: 1500px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.page-title {
  padding-right: 2rem;
  font-size: 3rem;
  float: left;
  color: black;
}

.back-title {
  color: black;
  padding-top: 0.875rem;
  padding-right: 2rem;
  font-size: 2rem;
  float: left;
}

.page-title-div {
  margin-left: auto;
  float: left;
  margin: 2rem 0;
}
.dropdown-div {
  margin-left: auto;
  float: right;
  margin: 2rem 0;
  margin-left: 10px;
}

.Dropdownstyle {
  background-color: #e5e5e5;
  width: 313.29px;
  height: 42.48px;
  padding-left: 5px;
  padding-right: 5px;
}
.indexBarContainer {
  width: 100%;
  display: table;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1385px;
}
.indexBarContainer2 {
  width: 100%;
  display: table;
}

.parent {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.child {
  flex: 25%;
  margin: 1rem 0;
}

.item_title {
  font-size: 1.5rem;
  text-align: left;
  width: 90%;

}

.item_author {
  text-align: left;
 
}

.item_image {
  border-radius: 20px;
  object-fit: cover;
  width: 300px;
  border: 10px green solid transparent;
  height: 250px;
  justify-content: start;
}

@media screen and (max-width: 1366px) {
  .item_image {
    border-radius: 20px;
    object-fit: cover;
    width: 300px;
    border: 10px green solid transparent;
    height: 200px;
  }
}
