.popUpBg {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: white;
  color: black;
  font-family: "SFProDisplay Regular";
}

.popUpContainerWrapper {
  position: absolute;
  background-color: aqua;
  width: 1336px;
  max-width: 1336px;
  color: black;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popUpContainer {
  position: relative;
}

.popUpWrapper {
  position: absolute;
  /* background-color: pink; */
  width: 100%;
  color: black;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popUpLeft {
  float: left;
  width: 55%;
  border-radius: 25px;

}
.popUpRight {
  float: left;
  width: 45%;

}

.popUpContainerMid {
  float: left;
  width: 80%;
  height: 20%p;
  background-color: white;
  box-shadow: -14.2222px -14.2222px 35.5556px rgba(0, 0, 0, 0.08),
    14.2222px 14.2222px 35.5556px rgba(0, 0, 0, 0.08);

  border-radius: 25px;
}
.popUpContainerSide {
  float: left;
  width: 10%;
}

.mainImgStyle{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.popUpTextContainer{
  width: 410px;
  padding: 5%;
  height: 400px;
  text-align: left;
  overflow: auto;
}

.popUpTextContent{
  margin-top: 5%;
}
.ContentImg{
  width: 100%;
}