.draft8Container {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}

.draft8BackImage {
  position: absolute;
  background-image: url(../../../assets/images/mainPage/draft8.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 1080px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infotext {
  position: absolute;
  opacity: 0;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  top: 0px;
  left: 75px;
  transition: opacity 0.1s ease-in;
  z-index: 2;
}

.pos8a {
  position: absolute;
  left: 1169px;
  top: 602px;
}

.pos8b {
  position: absolute;
  left: 1641px;
  top: 674px;
}

.pos8c {
  position: absolute;
  left: 523px;
  top: 602px;
}

.pos8d {
  position: absolute;
  left: 1424px;
top: 341px;
}

.pos8b:hover {
  transform: scale(1.5);
}
.pos8a:hover {
  transform: scale(1.5);
}
.pos8c:hover {
  transform: scale(1.5);
}
.pos8d:hover {
  transform: scale(1.5);
}

.pos8a:hover + .infotext {
  opacity: 1;
}

.pos8b:hover + .infotext {
  opacity: 1;
}
.pos8c:hover + .infotext {
  opacity: 1;
}

.pos8d:hover + .infotext {
  opacity: 1;
}
.infoStyle:hover {
  transform: scale(1.5);
}

.footer {
  position: absolute;
  width: 1860px;
  bottom: 0;
  margin-bottom: 50px;
  padding: 0 30px;
}
.footerLeft {
  float: left;
}

.footerRight {
  float: Right;
}
.iconFloat {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}
.infotext2 {
  position: absolute;
  opacity: 0;
  width: 500px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 5px 15px;
  top: -180px;
  left: 80px;
  transition: opacity 0.1s ease-in;
  z-index: 2;
  text-align: left;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.icoStyle {
  float: left;
  width: 20px;
  margin-left: 10px;
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.infoStyle:hover {
  transform: scale(1.5);
}

.infoStyle:hover + .infotext2 {
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  
  .draft8BackImage {
    width: 1366px;
    height: 700px;
  }

  
  .pos8a {
    position: absolute;
    width: 15px;
    left: 878px;
    top: 402px;
  }
  
  .pos8b {
    position: absolute;
    width: 15px;
    left: 1150px;
    top: 445px;
  }
  
  .pos8c {
    position: absolute;
    width: 15px;
    left: 382px;
    top: 386px;
  }
  
  .pos8d {
    width: 15px;
    position: absolute;
    left: 1033px;
  top: 198px;
  }
  


  .footer {
    position: absolute;
    width: 1306px;
    bottom: 0;
    margin-bottom: 30px;
    padding: 0 30px;
  }
}
