.background2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.bgContainerText2 {
  position: absolute;
  /* background-color: aqua; */
  padding-top: 5%;
  max-width: 1800px;
  width: 100%;
  color: #000000;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgWrapper2 {
  padding-left: 5%;
  padding-right: 5%;
  top: 0;
  position: absolute;
}

.textContainer2 {
  /* background-color: aqua; */
  padding-right: 10%;
}

.subtext2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 10%;
  /* background-color: #E5E5E5; */
}

.subtitle2 {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

.title2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
}

.logoImages2 {
  filter: invert(1);
}

.textBoxdeco {
  display: block;
  font-size: 12px;
  background-color: #e5e5e5;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 6px;
  margin-left: 2px;
  float: left;
}

.iconRight2 {
  float: right;
}
.textBoxdeco2 {
  display: block;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
}

.arrow2 {
  transform: rotate(90deg);
  animation: arrowBlink 2s infinite;
  margin-top: 11%;
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

.topNavStyle {
  text-align: center;
  position: fixed;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  bottom: 0;
}
