.section2bg {
  background-color: black;
  color: white;
  z-index: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section2LeftTitle {
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 72px;
}
.contentTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5%;
}

.backButton {
  margin: auto;
  text-align: center;
}

.contentMember {
  margin-bottom: 5%;
}

.SectionRightColumnLeft {
  float: left;
  width: 25%;
}

.SectionRightColumnRight {
  float: right;
  width: 25%;
}

.SectionRighRow {
  content: "";
  width: 100%;
  display: table;
  clear: both;
  margin-bottom: 10%;
}
.section2wrapper {
  background-color: black;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  max-width: 1230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5%;
}
.section2Left {
  width: 17.5%;
  height: 100%;
  float: left;
  margin-right: 2.5%;
}
.section2Right {
  width: 80%;
  height: 100%;
  float: left;
}
.column-letter {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.logoGoodStyle {
  margin-right: 2%;
}
.logoStyle {
  width: 108px;
  height: 105px;
}
.tite {
  text-align: center;
}
.left-letter {
  width: 25%;
}

.wishes {
  resize: none;
  background-color: black;
  font-family: "SFProDisplay Regular";
  font-size: 1.5rem;
  width: 100%;
  height: 50%;
  padding: 10px;
  color: white;
}
.right-letter {
  font-size: 1.5rem;
  width: 70%;
  text-align: left;
}

.left-side-text {
  font-size: 2.5rem;
}

.submit-wishes {
  text-align: right;
  cursor: pointer;
}

/* Clear floats after the columns */
.row-letter:after {
  content: "";
  display: table;
  clear: both;
}

.background2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "SFProDisplay Regular";
}

.bgContainerText2 {
  position: absolute;
  /* background-color: aqua; */
  padding-top: 5%;
  max-width: 1600px;
  width: 100%;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  from {
    transform: translate(-50%, -40%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.bgWrapper2 {
  padding-left: 5%;
  padding-right: 5%;
  top: 0;
  position: absolute;
}

.textContainer2 {
  /* background-color: aqua; */
  padding-right: 10%;
}

.subtext2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 10%;
  width: 100%;
  /* background-color: #E5E5E5; */
}

.subtitle2 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "SFProDisplay Regular";
}

.title2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  font-family: "SFProDisplay Regular";
}

.middleText {
  position: relative;
}

.dudukImg {
  position: absolute;
  transform: translate(575%, 21%);
}

.pelukImg {
  position: absolute;
  transform: translate(-1230%, 140%);
}

.textBoxdeco {
  display: block;
  font-size: 12px;
  background-color: #e5e5e5;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 6px;
  margin-left: 2px;
  float: left;
}

.iconRight2 {
  float: right;
}
.textBoxdeco2 {
  display: block;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
}

.arrow2 {
  transform: rotate(90deg);
  animation: arrowBlink 2s infinite;
  margin-top: 11%;
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

.topNavStyle {
  text-align: center;
  position: fixed;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  bottom: 0;
}
