.background {
  text-align: center;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: "SFProDisplay Regular";
}

.image {
  width: 100%;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  cursor: pointer;
}
