@font-face {
  font-family: "SFProDisplay Regular";
  src: local("SFProDisplay"),
    url("./assets/font/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SFProDisplay Bold";
  src: local("SFProDisplay"),
    url("./assets/font/SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SFProDisplay Medium";
  src: local("SFProDisplay"),
    url("./assets/font/SFPRODISPLAYMEDIUM.OTF") format("truetype");
  font-weight: lighter;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SFProDisplay Regular","Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
