.draft5Container {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}

.draft5BackImage {
  position: absolute;
  background-image: url(../../../assets/images/mainPage/draft5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 1080px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infotext {
  position: absolute;
  opacity: 0;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  top: 0px;
  left: 75px;
  transition: opacity 0.1s ease-in;
  z-index: 2;
}

.pos5a {
  position: absolute;
  left: 1117px;
  top: 334px;
}

.pos5b {
  position: absolute;
  left: 904px;
  top: 388px;
}
.pos5c {
  position: absolute;
  left: 1117px;
  top: 588px;
}

.pos5d {
  position: absolute;
  left: 1748px;
  top: 588px;
}

.pos5b:hover {
  transform: scale(1.5);
}
.pos5c:hover {
  transform: scale(1.5);
}
.pos5d:hover {
  transform: scale(1.5);
}
.pos5a:hover {
  transform: scale(1.5);
}

.pos5a:hover + .infotext {
  opacity: 1;
}

.pos5b:hover + .infotext {
  opacity: 1;
}

.pos5c:hover + .infotext {
  opacity: 1;
}

.pos5d:hover + .infotext {
  opacity: 1;
}

.footer {
  position: absolute;
  width: 1860px;
  bottom: 0;
  margin-bottom: 50px;
  padding: 0 30px;
}
.footerLeft {
  float: left;
}

.footerRight {
  float: Right;
}
.iconFloat {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}
.infotext2 {
  position: absolute;
  opacity: 0;
  width: 500px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 5px 15px;
  top: -170px;
  left: 80px;
  transition: opacity 0.1s ease-in;
  z-index: 2;
  text-align: left;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.icoStyle {
  float: left;
  width: 20px;
  margin-left: 10px;
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.infoStyle:hover {
  transform: scale(1.5);
}

.infoStyle:hover + .infotext2 {
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .draft5BackImage {
    width: 1366px;
    height: 700px;
  }

  .pos5a {
    width: 15px;
    position: absolute;
    left: 797px;
    top: 244px;
  }

  .pos5b {
    width: 15px;
    position: absolute;
    left: 644px;
    top: 278px;
  }
  .pos5c {
    width: 15px;
    position: absolute;
    left: 795px;
    top: 422px;
  }

  .pos5d {
    width: 15px;
    position: absolute;
    left: 1248px;
    top: 418px;
  }

  .footer {
    position: absolute;
    width: 1306px;
    bottom: 0;
    margin-bottom: 30px;
    padding: 0 30px;
  }
}
